*, *::after, *::before {
    box-sizing: border-box;
}

h1 {
    color: darkblue;
}

.gameBoard {
    --gap: 10px;
    --grid-size: 1fr;
    --board-size: 500px;
    position: relative;
    font-size: 4rem;
    display: grid;
    grid-template-columns: repeat(4, var(--grid-size));
    grid-template-rows: repeat(4, var(--grid-size));
    gap: 10px;
    width: var(--board-size);
    height: var(--board-size);
    background-color: rgb(48, 48, 48);
    padding: 10px;
    border-radius: 5px;
}

.square {
    background-color: grey;
    width: 1fr;
    height: 1fr;
    border-radius: 5px;
}

.tile {
    --tile-width: calc((var(--board-size) - var(--gap) * 5) / 4);
    --y: 0;
    --x: 0;
    margin: var(--gap);
    position: absolute;
    width: var(--tile-width);
    height: var(--tile-width);
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    top: calc((var(--tile-width) + var(--gap)) * var(--y));
    left: calc((var(--tile-width) + var(--gap)) * var(--x));
}